doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Friends
  body
    div.friends
      each friend in friends
        div.friend
          ul
            li Name: #{friend.getFullNameDust}
            li Balance: #{friend.balance}
            li Age: #{friend.age}
            li Address: #{friend.address}
            li Image: 
              img(src=friend.picture)
            li Company: #{friend.company}
            li Email: 
              a(href="mailto:#{friend.email}") #{friend.email}
            li About: #{friend.about}
            if friend.tags
              li Tags:
                ul
                  each tag in friend.tags
                    li #{tag}
            if friend.friends
              li Friends:
                ul
                  each subFriend in friend.friends
                    li #{subFriend.name} (#{subFriend.id})